<footer class="main-footer">
		<!--Upper Box-->
        
        <div class="upper-box">
        	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left">
                    	<h2>Have any question or need any business consultation? </h2>
                    </div>
                    <div class="pull-right">
                    	<a href="contact.html" class="theme-btn btn-style-one">Contact Us Now!!</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Widgets Section-->
        <div class="widgets-section">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column / Subscribe Widget-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget subscribe-widget">
                                	<div class="widget-content">
										<div class="text">Lorem ipsum dolor  amet natum latine copiosa at quo, suas labore saperet  has there any quote for write lorem percit latineu suas dummy sample lorem emi ipsum dummy text.</div>
                                        <div class="newsletter-form">
                                        	<h2>Newslatter</h2>
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Enter your email" required>
                                                    <button type="submit"><span class="icon flaticon-arrows-7"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <!--Footer Column / Links Widget-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget links-widget">
                                	<h2>Quick Links</h2>
                                    <div class="widget-content">
                                    	<div class="row clearfix">
                                            <ul class="list col-md-6 col-sm-6 col-xs-12">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Features</a></li>
                                                <li><a href="#">About us</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Projects</a></li>
                                                <li><a href="#">Pricing</a></li>
                                            </ul>
                                            <ul class="list col-md-6 col-sm-6 col-xs-12">
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Shop</a></li>
                                                <li><a href="#">Contact us</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column / News Widget-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget news-widget">
                                	<h2>Latest News</h2>
                                    <div class="widget-content">
                                    	<div class="news-post">
                                        	<a href="blog-single.html">How can be successfull in market place..</a>
                                            <div class="posted-date">13 Feb, 2016  /  Business</div>
                                        </div>
                                        
                                        <div class="news-post">
                                        	<a href="blog-single.html">How can be successfull in market place..</a>
                                            <div class="posted-date">13 Feb, 2016  /  Business</div>
                                        </div>
                                        
                                        <div class="news-post">
                                        	<a href="blog-single.html">How can be successfull in market place..</a>
                                            <div class="posted-date">13 Feb, 2016  /  Business</div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column / Address Widget-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget address-widget">
                                	<h2>Our Address</h2>
                                    <div class="widget-content">
										<ul class="list-style-one">
                                        	<li><span class="icon flaticon-map-marker"></span> 15, RUE DES HALLES 75001 PARIS</li>
                                            <li><span class="icon flaticon-telephone-handle-silhouette"></span> +33 6 05 83 74 71</li>
                                            <li><span class="icon fa fa-envelope"></span> info@btech-expert.com</li>
                                            <li><span class="icon fa fa-clock-o"></span> 9:00pm - 5:00pm Sunday Closed</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                 </div>
             </div>
         </div>

         <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="row clearfix">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="copyright" >
                             © 2022 Copyright:
                            <a class="text-white" href="https://btech-expert.com/">btech-expert.com</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                        <ul class="social-icon-one">
                        	<li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-pinterest-p"></a></li>
                            <li><a href="#" class="fa fa-vimeo"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>

    </footer>